registry=https://case.artifacts.medtronic.com/artifactory/api/npm/mdtconnectdotnet-npm-dev-virtual/   
_auth = c3ZjLWNvbm5lY3RhcnRpZmFjdDpBUDN3bzZZck1Wcm5pa0xCSGVacEcyb1NHeFg=
email = youremail@email.com
always-auth = true